{% extends 'baseDepot.html' %}

{% block title %}view depot order{% endblock title %}

{% block content %}

<br>
<br>
<br>

<div class="ui success message">
    <div class="header" style="text-align: center;">
      SİPARİŞ LİSTESİ
    </div>
  </div>
  <br>
  <br>

<a href="{% url 'ms_a101_bolges:urunBazliDepotOrder_view' %}"><button type="button" class="ui green button">Ürün Bazlı Sipariş Detayı</button></a>

<a href="{% url 'ms_a101_bolges:bolgeBazliDepotOrder_view' %}"><button type="button" class="ui green button" style="width: 200%">Bölge Bazlı Sipariş Detayı</button></a></div>

<br>
<table class="ui celled table" id="depotOrder" style="width:100%">
    <thead>
        <tr>
            <th>Depo Adı</th>
            <th>Meyve Sebze Kodu</th>
            <th>Meyve Sebze Adı</th>
            <th>Palet</th>
            <th>Birim</th>
            <th>Teslim Tarihi</th>
            <th>Eklendiği Tarih</th>
        </tr>
    </thead>
    <tbody>
        {% for order in depotOrder%}
        <tr>
            <td>{{order.depot_name}}</td>
            <td>{{order.fruit_vegetable_name}}</td>
            <td>{{order.fruit_vegetable_name_name}}</td>
            <td>{{order.palet}}</td>
            <td>{{order.unit}}</td>
            <td>{{order.teslim_tarihi|date:"Y-m-d"}}</td>
            <td>{{order.order_date|date:"Y-m-d"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>


<script>

    var table = $('#depotOrder').DataTable( {
        lengthChange: false,
        buttons: [ 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( $('div.eight.column:eq(0)', table.table().container()) );

</script>

{% endblock content %}