{% extends 'baseDepot.html' %}

{% block title %}upload ihale{% endblock title %}

{% block content %}

<!-- copyright added-->

<br>

<div class="ui success message">
    <div class="header" style="text-align: center;">
      İHALE EKLE
    </div>
  </div>
  <br>
<div class="block-center">
	<div class="ui centered grid container">
	<div class="ten wide column">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 20px;">Toplam Sipariş Palet Miktarı </h5>
              <p class="card-text" id="id_kasa_hesap" style="font-size: 20px; text-align: center;"></p>
            </div>
          </div>


<form action="" method="POST"  class="ui form" style="margin-top: 20px;">
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <button type="submit" class="ui positive button">İhale Ekle</button>

</form>



</div>
</div>
</div>

<!--deneme-->

<script>
document.getElementById("id_fruit_vegetable_name").setAttribute("readonly", "true");

$('#id_fruit_vegetable_kod').on('change', function() {
    var selectedText = $("#id_fruit_vegetable_kod option:selected").html();

    if (selectedText == "1001") {

        $("#id_fruit_vegetable_name").val("DOMATES SALKIM");

    }

    else if (selectedText == "1002") {
        $("#id_fruit_vegetable_name").val("SOĞAN");
    }
   else if (selectedText == "1003") {
    $("#id_fruit_vegetable_name").val("PATATES");
    }
    else if (selectedText == "1004") {
        $("#id_fruit_vegetable_name").val("KAYISI");
    }
    else if (selectedText == "1005") {
        $("#id_fruit_vegetable_name").val("KARPUZ");
    }

    else if (selectedText == "1006") {
        $("#id_fruit_vegetable_name").val("MUZ İTHAL");
    }
    else if (selectedText == "1007") {
        $("#id_fruit_vegetable_name").val("MUZ YERLİ");
    }
    else if (selectedText == "1008") {
        $("#id_fruit_vegetable_name").val("ÇİLEK");
    }
    else if (selectedText == "1009") {
        $("#id_fruit_vegetable_name").val("PATATES");
    }
    else {
        $("#id_fruit_vegetable_name").val("DOMATES");
    }

});
</script>

<script>
$('#id_fruit_vegetable_kod').change(function(){

    if ($(this).val() != "")
{

const source = document.getElementById('id_quantity');
const id_kasa_hesap = document.getElementById('id_kasa_hesap');

const kasaHesapDomates = function(e) {
id_kasa_hesap.innerHTML = e.target.value * 2;
}

source.addEventListener('input', kasaHesapDomates);
source.addEventListener('propertychange', kasaHesapDomates); // for IE8

}



})



</script>

{% endblock content %}